@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue-charcoal: #020618;
    --mariner: #1976D2;
    --midnight: #0D1624;
    --catalina-blue: #0b2b72;
    --almost-black: #030a12;
    --dark-jungle-green: #202121;
    --white: #FFFFFF;
    --green-white: #e8e8e8;
    --nobel: #b3b3b3;
    --lightning-yellow: #F0C420;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    transition: .5s;
}

body.no-scroll {
    overflow: hidden;
}

/* Particle JS Banner */
#particles-js {
    position: absolute;
    width: 100%;
    height: 80rem;
    background-color: var(--blue-charcoal);
    transition: .5s;
}

#particles-js.light-mode {
    background-color: var(--catalina-blue);
}

/* Header */
header {
    position: sticky;
    top: 0;
    width: 100%;
    color: var(--white);
    z-index: 10;
}

.h-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 3rem 7rem;
    transition: opacity .5s ease, padding .5s ease, box-shadow .5s ease;
}

.h-wrapper.scrolled {
    padding: 1.5rem 7rem;
    background-color: var(--almost-black);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transition: .5s;
}

.h-wrapper.scrolled.light-mode {
    background-color: var(--midnight);
}

.h-wrapper h2 {
    cursor: pointer;
}

.h-wrapper h2 a {
    color: var(--white);
    text-decoration: none;
    transition: color .3s ease;
}

.h-wrapper h2 a:hover {
    color: var(--mariner);
}

nav {
    display: flex;
    justify-content: flex-end;
    flex: 80%;
    padding-right: 2rem;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    cursor: pointer;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    transition: color .3s ease;
}

nav ul li a:hover {
    color: var(--green-white);
}

nav ul li {
    position: relative;
}

nav ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--mariner);
    transition: width .3s ease,  background-color .3s ease;
}

nav ul li:hover::after {
    width: 100%;
}

nav .xmark, .h-wrapper .bars {
    display: none;
}

/* Dark Mode Toggle */
.d-mode-toggle {
    background-color: var(--dark-jungle-green);
    padding: .4rem .5rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-mode-toggle .moon {
    color: var(--lightning-yellow);
}

.d-mode-toggle .toggle {
    background-color: var(--nobel);
    width: 4rem;
    height: 2rem;
    border-radius: 5rem;
    cursor: pointer;
    position: relative;
}

.d-mode-toggle .toggle::before {
    position: absolute;
    content: '';
    background-color: var(--white);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin: .2rem;
    margin-left: .3rem;
    transition: .5s;
}

.d-mode-toggle input:checked + .toggle {
    background-color: var(--mariner);
}

.d-mode-toggle input:checked + .toggle::before {
    transform: translateX(120%);
}

.d-mode-toggle input {
    display: none;
}

/* Banner */
#banner {
    position: relative;
}

.content-banner {
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    padding: 8rem 10rem;
}

.cb-left {
    flex: 100%;
    color: var(--white);
    padding-left: 12rem;
}

.cb-left h3 {
    font-size: 2.2rem;
}

.cb-left h1 {
    font-size: 2.5rem;
}

.cb-left p {
    width: 70%;
    margin-bottom: 2rem;
}

.cb-left a {
    text-decoration: none;
    color: var(--white);
    border: 1px solid;
    border-color: var(--mariner);
    border-radius: 12px;
    padding: .7rem 1rem;
    background-color: transparent;
    transition: background-color .3s ease;
}

.cb-left a.light-mode {
    border-color: var(--white);
}

.cb-left a:hover {
    background-color: var(--mariner);
}

.cb-left a:hover.light-mode {
    color: var(--blue-charcoal);
    background-color: var(--white);
}

.cb-right {
    flex: 100%;
}

.cb-right img {
    width: 350px;
}

.arrow-section {
    text-align: center;
}

#banner .arrow-down {
    color: var(--white);
    font-size: 2.2rem;
    animation: bounce 2s infinite;
    cursor: pointer;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1rem);
    }
}

/* About Me */
.about-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 7rem 10rem;
    background-color: var(--midnight);
    box-sizing: border-box;
    transition: .5s;
}

.about-container.light-mode {
    background-color: var(--green-white);
}

.ac-left {
    flex: 100%;
    text-align: center;
}

.ac-left img {
    width: 500px;
    object-fit: contain;
    transform: translateX(-20%);
    opacity: 0;
    transition: transform .8s ease, opacity .8s ease;
}

.ac-right {
    flex: 100%;
    text-align: center;
    color: var(--white);
    transition: .5s;
}

.ac-right.light-mode {
    color: var(--blue-charcoal);
}

.ac-right h4 {
    font-size: 2rem;
}

.ac-right h4 {
    transform: translateX(10%);
    opacity: 0;
    transition: .8s ease;
}

.ac-right .divider {
    height: .1rem;
    margin: .8rem auto 2rem;
    width: 3rem;
    background-color: var(--mariner);
}

.ac-right .divider {
    transform: translateX(-10%);
    opacity: 0;
    transition: .8s ease;
}

.ac-right p {
    margin-bottom: 1rem;
}

.ac-right p {
    transform: translateX(10%);
    opacity: 0;
    transition: color .5s ease, transform .8s ease, opacity .8s ease;
}

.ac-left.show img,
.ac-right.show h4,
.ac-right.show .divider,
.ac-right.show p {
    transform: translateX(0);
    opacity: 1;
}

.ac-right p.light-mode {
    color: var(--almost-black);
}

/* Work Experience */
.work-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 7rem 10rem;
    background-color: var(--midnight);
    transition: .5s;
}

.work-container.light-mode {
    background-color: var(--green-white);
}

.wc-left {
    flex: 100%;
}

.wc-left * {
    transform: translateX(-10%);
    opacity: 0;
    transition: transform .8s ease, opacity .8s ease;
}

.wc-left h4 {
    color: var(--white);
    font-size: 2rem;
    transition: .5s;
}

.wc-left h4.light-mode {
    color: var(--blue-charcoal);
}

.wc-left .divider {
    height: .1rem;
    margin: .8rem 0 2rem;
    width: 5rem;
    background-color: var(--mariner);
}

.sub-flex  {
    display: flex;
    gap: 1rem;
}

.sub-flex .bullets-line {
    padding: .5rem 0 0 3rem;
}

.bullets-line .bullet1 {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid;
    border-color: var(--mariner);
    border-radius: 50%;
    background-color: var(--mariner);
    margin: 0 auto -.2rem;
}

.bullets-line .line1 {
    width: .3rem;
    height: 9rem;
    background-color: var(--mariner);
    margin: 0 auto;
}

.bullets-line .bullet2 {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid;
    border-color: var(--mariner);
    border-radius: 50%;
    background-color: var(--mariner);
    margin: 0 auto;
}

.bullets-line .line2 {
    width: .3rem;
    height: 9rem;
    background-color: var(--mariner);
    margin: 0 auto;
}

.texts .job-lists h5 {
    font-size: 1.7rem;
    color: var(--white);
    transition: .5s;
}

.texts .job-lists h5.light-mode {
    color: var(--midnight);
}

.texts .job-lists h6 {
    font-size: 1.2rem;
    color: var(--nobel);
    margin-bottom: .5rem;
    transition: .5s;
}

.texts .job-lists h6.light-mode {
    color: var(--dark-jungle-green);
}

.texts .job-lists ul {
    padding-left: 2.5rem;
    list-style: circle;
    color: var(--white);
    transition: .5s;
}

.texts .job-lists ul.light-mode {
    color: var(--almost-black);
}

.texts .job-lists:nth-child(1) ul li:last-child {
    margin-bottom: .8rem;
}

.wc-right {
    flex: 100%;
    text-align: center;
}

.wc-right * {
    transform: translateX(10%);
    opacity: 0;
    transition: transform .8s ease, opacity .8s ease;
}

.wc-left.show *, .wc-right.show * {
    transform: translateX(0);
    opacity: 1;
}

.wc-right img {
    width: 450px;
}

/* Skills */
.skills-container {
    position: relative;
    padding: 7rem 10rem;
    background-color: var(--blue-charcoal);
    transition: .5s;
}

.skills-container.light-mode {
    background-color: var(--catalina-blue);
}

.skills-container h4 {
    text-align: center;
    color: var(--white);
    font-size: 2rem;
}

.skills-container h4 {
    transform: translateX(-10%);
    opacity: 0;
    transition: transform .8s ease, opacity .8s ease;
}

.skills-container .divider {
    height: .1rem;
    margin: .8rem auto 2rem;
    width: 3rem;
    background-color: var(--mariner);
}

.skills-container .divider {
    transform: translateX(10%);
    opacity: 0;
    transition: transform .8s ease, opacity .8s ease;
}

.skills-container .skills-icon {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.skills-container .skills-icon {
    transform: translateY(10%);
    opacity: 0;
    transition: transform .8s ease, opacity .8s ease;
}

.skills-container h4.show, .skills-container .divider.show {
    transform: translateX(0);
    opacity: 1;
}

.skills-container .skills-icon.show {
    transform: translateY(0);
    opacity: 1;
}

.skills-icon .icon {
    color: var(--white);
    border: 1px solid;
    border-color: var(--mariner);
    border-radius: .6rem;
    padding: 1rem 2rem;
    text-align: center;
    transition: .5s;
}

.skills-icon .icon.light-mode {
    border-color: var(--green-white);
}

/* Projects */
.projects-container {
    position: relative;
    padding: 7rem 10rem;
    background-color: var(--midnight);
    transition: .5s;
}

.projects-container.light-mode {
    background-color: var(--green-white);
}

.projects-container h4 {
    text-align: center;
    color: var(--white);
    font-size: 2rem;
    transition: .5s;
}

.projects-container h4 {
    transform: translateX(-10%);
    opacity: 0;
    transition: transform .8s ease, opacity .8s ease;
}

.projects-container h4.light-mode {
    color: var(--blue-charcoal);
}

.projects-container .divider {
    height: .1rem;
    margin: .8rem auto 2rem;
    width: 3rem;
    background-color: var(--mariner);
}

.projects-container .divider {
    transform: translateX(10%);
    opacity: 0;
    transition: transform .8s ease, opacity .8s ease;
}

.projects-container h5 {
    font-size: 1.7rem;
    color: var(--white);
    text-align: center;
    transition: .5s;
}

.projects-container h5 {
    transform: translateY(10%);
    opacity: 0;
    transition: transform .8s ease, opacity .8s ease;
}

.projects-container h4.show, .projects-container .divider.show {
    transform: translateX(0);
    opacity: 1;
}

.projects-container h5.show {
    transform: translateY(0);
    opacity: 1;
}

.projects-container h5.light-mode {
    color: var(--midnight);
}

/* Contact */
.contact-container {
    position: relative;
    padding: 4rem 10rem 4rem;
    background-color: var(--blue-charcoal);
    transition: .5s;
}

.contact-container.light-mode {
    background-color: var(--catalina-blue);
}

.contact-container h4 {
    text-align: center;
    color: var(--white);
    font-size: 2rem;
}

.contact-container h4 {
    transform: translateX(-10%);
    opacity: 0;
    transition: transform .8s ease, opacity .8s ease;
}

.contact-container h6 {
    text-align: center;
    color: var(--green-white);
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.contact-container h6 {
    transform: translateX(10%);
    opacity: 0;
    transition: transform .8s ease, opacity .8s ease;
}

.contact-container .divider {
    height: .1rem;
    margin: .8rem auto 2rem;
    width: 3rem;
    background-color: var(--mariner);
    margin-bottom: 3rem;
}

.contact-container .divider {
    transform: translateY(10%);
    opacity: 0;
    transition: transform .8s ease, opacity .8s ease;
}

.contact-container .contact-me {
    text-align: center;
    padding-bottom: 3.5rem;
}

.contact-me a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--midnight);
    padding: 1rem 2rem;
    border: 1px solid var(--white);
    border-radius: 3rem;
    transition: background-color .3s ease;
}

.contact-me a:hover {
    color: var(--blue-charcoal);
    background-color: var(--white);
}

.contact-me a.light-mode {
    background-color: var(--white);
    color: var(--blue-charcoal);
    border: 1px solid var(--white);
}

.contact-me a:hover.light-mode {
    color: var(--white);
    background-color: var(--midnight);
    border: 1px solid var(--midnight);
}

.contact-me a {
    transform: translateY(10%);
    opacity: 0;
    transition: transform .8s ease, opacity .8s ease;
}

.contact-container .info {
    text-align: center;
    color: var(--white);
}

.contact-container .info * {
    transform: translateY(10%);
    opacity: 0;
    transition: transform .8s ease, opacity .8s ease;
}

.contact-container h4.show, .contact-container h6.show {
    transform: translateX(0);
    opacity: 1;
}

.contact-container .divider.show, .contact-me a.show, .contact-container .info.show * {
    transform: translateY(0);
    opacity: 1;
}

/* Copyright */
.copyright-container {
    position: relative;
    padding: 1rem 10rem;
    background-color: var(--dark-jungle-green);
    text-align: center;
}

.copyright-container p {
    color: var(--white);
    font-size: .8rem;
}

@media (max-width: 1020px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        flex: 100%;
        justify-content: center;
        padding-right: 0;
        background-color: var(--midnight);
        z-index: 15;
        transform: translateX(100%);
        opacity: 0;
        transition: transform .5s ease, opacity .5s ease;
        overflow-x: hidden;
    }

    nav.show {
        opacity: 1;
        transform: translateX(0);
    }

    nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: 1.7rem;
    }

    nav .xmark {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: 7rem 10rem 0 0;
        font-size: 2.3rem;
        cursor: pointer;
        transition: color .3s ease;
    }

    nav .xmark:hover {
        color: var(--mariner);
    }

    .h-wrapper .bars {
        display: block;
        cursor: pointer;
        transition: color .3s ease;
        font-size: 2rem;
    }

    .h-wrapper .bars:hover {
        color: var(--mariner);
    }

    .d-mode-toggle {
        position: absolute;
        right: 0;
        margin-right: 6.5rem;
    }

    .cb-right img {
        width: 270px;
    }
}

@media (max-width: 1476px) {
    .cb-left {
        padding-left: 7rem;
    }
}

@media (max-width: 1095px) {
    .cb-left {
        padding-left: 3rem;
    }
}

@media (max-width: 860px) {
    .about-container {
        padding: 7rem 3rem;
    }

    .content-banner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 7rem 3rem;
    }

    .cb-left {
        text-align: center;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .cb-left p {
        width: 100%;
    }

    .cb-right {
        flex: 0;
    }

    .cb-right img {
        display: none;
    }

    .copyright-container {
        padding: 1rem 3rem;
    }

    .h-wrapper {
        padding: 3rem;
    }

    .h-wrapper.scrolled {
        padding: 1.5rem 3rem;
    }
}

@media (max-width: 620px) {
    .ac-left img {
        width: 400px;
    }

    .cb-left {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .skills-container .skills-icon {
        grid-template-columns: repeat(2, auto);
    }

    .wc-right img {
        width: 270px;
    }
}

@media (max-width: 500px) {
    .ac-left img {
        width: 270px;
    }
    
    .cb-left {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .work-container {
        padding: 7rem 1rem;
    }
}

@media (max-width: 1160px) {
    .about-container {
        flex-direction: column;
        padding: 7rem 6rem;
    }

    .ac-left {
        order: 2;
    }

    .ac-right {
        order: 1;
    }

    .ac-right .divider {
        margin: 1rem auto 3rem;
    }

    .ac-right p:nth-child(5) {
        margin-bottom: 3rem !important;
    }

    .work-container {
        flex-direction: column;
        padding: 7rem 3rem;
    }
    
    .wc-left h4 {
        text-align: center;
    }

    .wc-left .divider {
        margin: 1rem auto 3rem;
    }

    .skills-container {
        padding: 7rem 3rem;
    }

    .skills-icon .icon {
        padding: 1rem 1rem;
    }

    .projects-container {
        padding: 7rem 3rem;
    }

    .contact-container {
        padding: 7rem 3rem;
    }

    .projects-container .divider {
        margin: 1rem auto 3rem;
    }

    .contact-container .divider {
        margin: 1rem auto 3rem;
    }
}